
.loading-channels {
    display: table;
    min-height: 300px;
    width: 100%;
    
    img {
        display: table;
        margin: 0 auto;
    }
}

.thumbnail {

    height: 320px;
    position: relative;

    h4 {
        font-size: 14px;
    }

    section {
        bottom: 10px;
        position: absolute;
    }

}

.card-block {
    height: 60px;
    h4 {
        font-size: 16px;
    }
}