.filters {
  display: table;
  width: 100%;
  font-size: 13px;

  input {
    margin-bottom: 10px;
  }

  .filter-group {
    display: inline-block;
  }

  .item {
    float: left;
    &.title {
      font-weight: 600;
      padding: 7px 12px 7px 0;
    }
  }
}