
.pagination {
  display: inline-block;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem; }

.pagination > li {
  display: inline; }
  .pagination > li:first-child a {
    margin-left: 0;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem; }
  .pagination > li:last-child a {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .pagination > li.active a, .pagination > li.active a:focus, .pagination > li.active a:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #039cfd;
    border-color: #039cfd; }
  .pagination > li.disabled a, .page-item.disabled a:focus, .pagination > li.disabled a:hover {
    color: #818a91;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd; }

.pagination > li a {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.5;
  color: #64b0f2;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd; }
  .pagination > li a:focus, .pagination > li a:hover {
    color: #1d8cec;
    background-color: #eceeef;
    border-color: #ddd; }

.pagination-lg a {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.33333; }
.pagination-lg > li:first-child a {
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem; }
.pagination-lg > li:last-child a {
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem; }

.pagination-sm a {
  padding: 0.275rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5; }
.pagination-sm > li:first-child a {
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem; }
.pagination-sm >li:last-child a {
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem; }

.pager {
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  list-style: none; }
  .pager::after {
    content: "";
    display: table;
    clear: both; }
  .pager li {
    display: inline; }
    .pager li > a,
    .pager li > span {
      display: inline-block;
      padding: 5px 14px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 15px; }
    .pager li > a:focus, .pager li > a:hover {
      text-decoration: none;
      background-color: #eceeef; }
  .pager .disabled > a, .pager .disabled > a:focus, .pager .disabled > a:hover {
    color: #818a91;
    cursor: not-allowed;
    background-color: #fff; }
  .pager .disabled > span {
    color: #818a91;
    cursor: not-allowed;
    background-color: #fff; }

.pager-next > a,
.pager-next > span {
  float: right; }

.pager-prev > a,
.pager-prev > span {
  float: left; }